<div class="container">
  <h1 class="poke-font">Welcome to PokeApi Project</h1>
  <br/>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
      <p-card header="Pokémon list" class="card">
        <ng-template pTemplate="header">
          <img alt="img pokémon" src="/assets/images/pokemon.png"/>
        </ng-template>
        <p>
          Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs
          and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a
          variant
          which makes it differ from other Pokémon of the same species, such as base stats, available abilities and
          typings.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex align-items-end justify-content-end">
            <p-button label="Go" icon="pi pi-arrow-right" routerLink="/pokemon"/>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
      <p-card header="Evolution Chain" class="card">
        <ng-template pTemplate="header">
          <img alt="img evolution" src="/assets/images/evolution.png"/>
        </ng-template>
        <p>
          Evolution chains are essentially family trees. They start with the lowest stage within a family and detail
          evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex align-items-end justify-content-end">
            <p-button label="Go" icon="pi pi-arrow-right" routerLink="/evolution"/>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
      <p-card header="Abilities list" class="card">
        <ng-template pTemplate="header">
          <img alt="img abilities" src="/assets/images/abilities.png"/>
        </ng-template>
        <p>
          Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible
          abilities but can have only one ability at a time.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex align-items-end justify-content-end">
            <p-button label="Go" icon="pi pi-arrow-right" routerLink="/abilities"/>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
      <p-card header="Types list" class="card">
        <ng-template pTemplate="header">
          <img alt="img types" src="/assets/images/types.png"/>
        </ng-template>
        <p>
          Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon
          it is super effective against, which types of Pokémon it is not very effective against, and which types of
          Pokémon it is completely ineffective against.
        </p>
        <ng-template pTemplate="footer" class>
          <div class="flex align-items-end justify-content-end">
            <p-button label="Go" icon="pi pi-arrow-right" routerLink="/types"/>
          </div>

        </ng-template>
      </p-card>
    </div>
  </div>


</div>
