<div class="container">
  <h1 class="poke-font">PoKéMoN List</h1>
  <br/>

  <div class="grid">
    <div class="col-6 md:col-4 lg:col-3" *ngFor="let pokemon of pokemonList">
      <p-card header="{{namePoke(pokemon?.name ?? '')}}" class="card">
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-center">
            <img alt="img poke" src="{{pokemon.image}}" style="width: 150px"/>
          </div>
        </ng-template>
        <div style="display: flex; flex-wrap: wrap">
          <span *ngFor="let type of pokemon.types" class="customer-badge status-{{type.type.name}}"
                style="margin-right: 5px">
            {{namePoke(type.type.name ?? '')}}
          </span>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex align-items-end justify-content-end">
            <p-button label="View Details" icon="pi pi-check"
                      (click)="goToPokemon(pokemon.name ?? '')"/>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <p-paginator
    [rows]="itemsPerPage"
    [totalRecords]="totalCount"
    [pageLinkSize]="3"
    (onPageChange)="onPageChange($event)"/>

</div>
