/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

html,
body {
  margin: 0;
  font-size: 14px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 56px auto;
  padding: 20px 20px 70px 20px;
  min-height: calc(100vh - 132px);
  transition: all 500ms ease-in-out;

  @media screen and (min-width: 1440px) {
    max-width: 1240px;
  }
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

